@charset "utf-8";

// 设计稿尺寸
$vw_design: 750;
// 设计稿基准字体大小
$vw_fontsize: 24;

$color-blue  : #479EF8;
$color-black : #333333;
$color-black-ligter : #262626;
$color-gray  : #999999;
$color-gray-ligter : #151515;
$color-red   : #F14A48;
$color-white : #FFFFFF;

$color-bg    : #F1F1F1;

$color-button-bg : #F2F2F2;

$color-border: #e5e5e5;
$color-disabled: #cccccc;


